<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<a href class="navbar-brand">App</a>
			<ul class="nav navbar-nav">
				<li><a href>Home</a></li>
			</ul>
		</div>
	</nav>

	<div class="container" data-ng-app="store">
		
		<div ng-controller="StoreController as sc" class="list-group">

			<!-- View -->
			<div ng-hide="product.notAvailable" 
			     data-ng-repeat="product in products|limitTo:10|orderBy:'-price'" class="list-group-item">
				<span class="badge">{{$index+1}}</span>
				<h4>{{product.name|uppercase}} <small>{{product.make|date:'yyyy'}}</small></h4>
				<h4>{{product.price|priceDiscount:1000|currency:'&#8377;':1}}</h4>
				<button ng-show="product.canBuy">Add to cart</button>
				<hr/>
				
				<section  ng-controller="TabsController">
					<ul class="nav nav-tabs">
						<li ng-class="{active:isTabSelected(1)}"><a href ng-click="changeTab(1)">Description</a></li>
						<li ng-class="{active:isTabSelected(2)}"><a href ng-click="changeTab(2)">Specification</a></li>
						<li ng-class="{active:isTabSelected(3)}"><a href ng-click="changeTab(3)">Reviews</a></li>
					</ul> 
					<div class="panel" ng-show="isTabSelected(1)">
						<div class="panel-body">
							{{product.description}}
						</div>
					</div>
					<div class="panel" ng-show="isTabSelected(2)">
						<div class="panel-body">
							Not Yet
						</div>
					</div>
					<div class="panel" ng-show="isTabSelected(3)">
						
						<div class="panel-body">
							
							<blockquote ng-repeat="review in product.reviews">
							 <h4>{{review.stars}} <small>{{review.author}}</small></h4>
							 <p>{{review.body}}</p>
							</blockquote>
							
							<div class="row">
								
								<div class="col-md-6">
								 <hr/>
								
								 <form name="reviewForm" 
								       novalidate
								       ng-controller="ReviewFormController" 
								       ng-submit="reviewForm.$valid && addNewReview(product)">
								 	
								 	<blockquote>
										 <h4>{{newReview.stars}} <small>{{newReview.author}}</small></h4>
										 <p>{{newReview.body}}</p>
									</blockquote>
									
								 	<div class="form-group">
								 		<label>stars</label>
								 		<select ng-options="star for star in [1,2,3,4,5]" class="form-control" ng-model="newReview.stars" required></select>
								 	</div>
								 	<div class="form-group">
								 		<label>author</label>
								 		<input type="email" class="form-control" ng-model="newReview.author" ng-disabled="true" required>
								 	</div>
								 	<div class="form-group">
								 		<label>body</label>
								 		<textarea rows="5" cols="35" class="form-control" ng-model="newReview.body" required></textarea>
								 	</div>
								 	
								 	<button type="submit" class="btn btn-primary">Submit</button> is reviewForm : {{reviewForm.$valid}}
								 
								 </form>
								 
								 
								
								</div>
							</div>
							
						</div>
					</div>
					tab: {{tab}}
				</section>
				
			</div>
			
		</div>
	
	</div>


	<script type="text/javascript" src="angular-1.4.8/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	


</body>
</html>